
.banner-list {
	overflow: hidden;
}

.banner-item {
	position: relative;
	padding: 0 !important;
	height: 100%;
}

.banner-item .info {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.banner-item .info.right {
	left: 55%;
}

.banner-link {
	display: block;
	overflow: hidden;

}

.banner-link:hover .banner-img{
	transform: scale(1.05);
}

.banner-title {
	font-size: 20px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: -.33px;
  color: #222;
}

.banner-desc {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: -.21px;
	white-space: pre;
}

.banner-img {
	transition: transform .2s ease-out 0s;
}

.banner-more {
	width: 180px;
	height: 36px;
	margin: 10px auto 0;
	padding: 0 20px;
	border-radius: 18px;
	border: #222 1px solid;
	font-size: 12px;
	line-height: 34px;
	font-weight: 300;
	letter-spacing: -.21px;
	background-color: transparent;
} 