 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: underline;}

.IFrame {
  width: 100%;
  padding-top: 80px;
}

.IFrameWrapper{
  width: 100%;
  text-align: center;
  padding: 0 60px;
}

@media(min-width: 1024px) {
.IFrameWrapper{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 60px;
  } 
}

.IFrameWrapper .IFrameTitle {
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

.IFrameWrapper .IFrame {
  width: 100%;
  padding: 0;
  height: 515px;
}