footer{
	width: 100%;
	background: #222;
}

.footerInner{
	max-width: 1240px;
	margin: 0 auto;
	padding: 80px 60px;
}

.footerInner >div{
	position: relative;
}

.footerInner >div:nth-child(1){
	border-bottom: 1px solid #444;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.icons{
	font-size: 0;
	margin-bottom: 14px;
}

.icons li{
	display: inline-block;
}

.icons li:not(:nth-child(1)){
	margin-left: 20px;
}

.icons li a{
	display: block;
	width: 32px;
	height: 32px;
	background-size: 1252px 845px;
}

.facebook{
	background-image: url(../../../images/icons.png);
	background-position: -42px -775px;
}

.instargram{
	background-image: url(../../../images/icons.png);
	background-position: -1214px -438px;
}

.youtube{
	background-image: url(../../../images/icons.png);
	background-position: -1164px -685px;
}

.textWrapper{
	font-size: 0;
	margin-bottom: 5px;
}

.textWrapper h1{
	display: inline-block;
	font-size: 22px;
	line-height: 33px;
	font-weight: 500;
	letter-spacing: -.33px;
	color: #f7f7f7;
}

.textWrapper strong{
	font-size: 22px;
	line-height: 33px;
	font-weight: 300;
	letter-spacing: -.33px;
	margin-left: 20px;
	color: #f7f7f7;
}

.textWrapper span{
	font-size: 14px;
	line-height: 33px;
	font-weight: 300;
	letter-spacing: -.21px;
	color: #9b9b9b;
	margin-left: 10px;
}

.textWrapper .csBtn{
	display: inline-block;
	padding: 0 20px;
	margin-left: 12px;
	border: 1px solid #9b9b9b;
	border-radius: 18px;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: -.2px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.logo{
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 150px;
	height: 63px;
	background-image: url(../../../images/icons.png);
	background-position: 0 -612px;
	background-size: 1252px 845px;
}

address span{
	margin-right: 18px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: -.21px;
	color: #d3d3d3;
	position: relative;
}

.pointer{
	cursor: pointer;
}

address span:not(:last-child)::after{
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	right: -10px;
	width: 1px;
	height: 13px;
	background: #d3d3d3;
}

p{
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: -.21px;
	color: #d3d3d3;
}

.info{
	position: absolute;
	bottom: 0;
	right: 0;
}

.info li{
	display: inline-block;
}

.info li a{
	font-size: 14px;
	line-height: 24px;
	font-weight: 200;
	letter-spacing: -.21px;
	color: #fff;
	margin-left: 25px;
	text-decoration: none;
}