.GNB-header{
    width: 100%;
    background: #fff;
    left: 0;
    right: 0;
    z-index:10;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 70px;
    height: 130px;

    margin: 0 auto;
}
.GNB-header.fixed{
    position: fixed;
    top: -50px;
    padding-bottom: 10px;
    border-bottom: 1px #ffcd32 solid;
    box-shadow: 0 -1px 5px black;
}
.GNB-header .nav-menu-list span.active{
    color: #ffcd32;
}
.GNB-header .nav-menu-list span:hover{
    cursor: pointer;
}
.GNB-header .nav-menu-list span:hover:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background: #ffcd32;
}

.navigation-bar{
    width: 100%;
    height: 100%;
}

.nav-user-list{
    position: absolute;
    width: 90%;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 14px;
    z-index: 11;
}
.nav-user-list .item{
    position: relative;
    margin-left: 30px;
}

.nav-user-list .item .point{
    color: #46cfa7;
}

.nav-user-list .item:first-child::after {
    background: none;
}

.nav-user-list .item::after{
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -15px;
    width: 1px;
    height: 16px;
    background: #d3d3d3;
}

.nav-menu{
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 70px 70px 0 70px;
}

.nav-menu-list .item{
    position: relative;
    font-size: 18px;
    line-height: 27px;
}

.user-tab{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 70px;
}

.user-tab .user-info{
    position: relative;
}
.user-tab .user-info:before{
    content: '';
    background: url('/images/icons.png') no-repeat -38px -817px;
    position: absolute;
    left: 0;
    top: -15px;
    width: 25px;
    height: 28px;
}

.user-tab .shop-list{
    position: relative;
}

.user-tab .shop-list:before{
    content: '';
    background: url('/images/icons.png') no-repeat -73px -817px;
    position: absolute;
    left: 0;
    top: -15px;
    width: 25px;
    height: 28px;
}