* {
	color: #222;
}

img {
	width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, button, input, select, table, textarea {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Noto Sans KR',sans-serif,NanumGothic,'나눔고딕',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo";
}